body {
  font-family: arial, sans-serif;
}

h1 {
  color: black;
  font-size: 32px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: rgb(57, 57, 57);
  font-size: 14px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 40px auto;
}

.weather-app {
  padding: 30px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.btn {
  border: 1px solid black;
  background-color: black;
  color: white;
  padding: 5px 60px;
}

.btn2 {
  font-size: 36px;
  background-color: transparent;
  border-color: transparent;
  margin-top: -15px;
  padding: 5px 30px;
}

.weather-temperature img {
  margin-right: 40px;
  height: 106px;
  width: 106px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.feelsLike {
  font-size: 14px;
}

.hum {
  font-size: 17px;
  color: rgb(57, 57, 57);
}

.win {
  font-size: 17px;
  color: rgb(57, 57, 57);
}
.weather-forecast {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  color: #000;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
